---
permalink: /category.html
layout: category
---

{% for category in site.data.webstack %}

<h4 class="text-gray" style="font-weight: bold">
  <i class="linecons-tag" style="margin-right: 7px; font-size: x-large" id="{{ category.name }}"></i>{{
    category.name }}
</h4>

<div class="row">

{% if category.sub %} {% for sub_category in category.sub %}


  <div class="col-sm-3">
    <div class="xe-widget xe-conversations box2 label-info" title="">
      <div class="xe-comment-entry">
        <i class="{{ sub_category.icon }}" style="margin-right: 7px; font-size: x-large" id="{{ sub_category.name }}"></i>
        <div class="xe-comment">
          <a href="javascript:void();" class="xe-user-name overflowClip_1">
             {{sub_category.name }} ({{sub_category.links.size }})
          </a>
        </div>
      </div>
    </div>
  </div>


{% endfor %} 
</div>
<br />
{% endif %} 

{% endfor %}