---
permalink: /gencatenew.html
---



{% assign categories = "" | split: "" %}
{% assign subcategories = "" | split: "" %}

{% for item in site.product %}
{% if item.title != "aatitle" %}
{% assign cat_sub = item.categoryname | append: "-" | append: item.subcategoryname %}
{% unless categories contains cat_sub %}
{% assign categories = categories | push: cat_sub %}
{% endunless %}
{% endif %}
{% endfor %}

{% for cat_sub in categories %}
{% assign category = cat_sub | split: "-" | first %}
{% assign sub_category = cat_sub | split: "-" | last %}
sed 's/aaaaaaaa/{{ category }}/g' template.html > "aaaaaaaa.html"
sed 's/bbbbbbbb/{{ sub_category }}/g' aaaaaaaa.html > "{{ category }}-{{ sub_category }}.html"
{% endfor %}

rm aaaaaaaa.html