---
permalink: /genmd.html
---



{% for category in site.data.webstack %}
{% if category.sub %}
{% for sub_category in category.sub %}



{% for link in sub_category.links %}

{% assign title = link.title %}
{% assign layout = "tool" %}
{% assign author = "james" %}
{% assign cate = category.name %}
{% assign icon = category.icon %}
{% assign color = category.color %}
{% assign subcategory = sub_category.name %}
{% assign description = link.description %}
{% assign logo = link.logo %}
{% assign url = link.url %}

echo "---" >> "2024-01-01-{{ title }}.md"
echo "title: {{ title }}" >> "2024-01-01-{{ title }}.md"
echo "layout: {{ layout }}" >> "2024-01-01-{{ title }}.md"
echo "author: {{ author }}" >> "2024-01-01-{{ title }}.md"
echo "category: {{ cate }}" >> "2024-01-01-{{ title }}.md"
echo "icon: {{ icon }}" >> "2024-01-01-{{ title }}.md"
echo "color: {{ color }}" >> "2024-01-01-{{ title }}.md"
echo "subcategory: {{ subcategory }}" >> "2024-01-01-{{ title }}.md"
echo "description: {{ description }}" >> "2024-01-01-{{ title }}.md"
echo "logo: {{ logo }}" >> "2024-01-01-{{ title }}.md"
echo "url: {{ url }}" >> "2024-01-01-{{ title }}.md"

echo "---" >> "2024-01-01-{{ title }}.md"

{% endfor %}

{% endfor %}
{% else if %}
{% for link in category.links %}

{% assign title = link.title %}
{% assign layout = "tool" %}
{% assign author = "james" %}
{% assign cate = category.name %}
{% assign icon = category.icon %}
{% assign color = category.color %}
{% assign subcategory = "" %}
{% assign description = link.description %}
{% assign logo = link.logo %}
{% assign url = link.url %}

echo "---" >> "2024-01-01-{{ title }}.md"
echo "title: {{ title }}" >> "2024-01-01-{{ title }}.md"
echo "layout: {{ layout }}" >> "2024-01-01-{{ title }}.md"
echo "author: {{ author }}" >> "2024-01-01-{{ title }}.md"
echo "category: {{ cate }}" >> "2024-01-01-{{ title }}.md"
echo "icon: {{ icon }}" >> "2024-01-01-{{ title }}.md"
echo "color: {{ color }}" >> "2024-01-01-{{ title }}.md"
echo "subcategory: {{ subcategory }}" >> "2024-01-01-{{ title }}.md"
echo "description: {{ description }}" >> "2024-01-01-{{ title }}.md"
echo "logo: {{ logo }}" >> "2024-01-01-{{ title }}.md"
echo "url: {{ url }}" >> "2024-01-01-{{ title }}.md"

echo "---" >> "2024-01-01-{{ title }}.md"

{% endfor %}

{% endif %}
{% endfor %}    
