---
permalink: /genprod.html
---



{% for category in site.data.webstack %}
{% if category.sub %}

{% for sub_category in category.sub %}

{% for link in sub_category.links %}

rm "{{ category.name | replace: '/', '\\/' }}-{{sub_category.name | replace: '/', '\\/' }}-{{ link.title | replace: '/', '\\/' }}.html"

sed 's/aatitle/{{ link.title | replace: '/', '\\/' }}/g' "template.html" > "aaaaaaaa0.html"
sed 's/aaimage/{{ link.logo | replace: '/', '\\/' }}/g' "aaaaaaaa0.html" > "aaaaaaaa1.html"
sed 's/aalogo/{{ link.logo | replace: '/', '\\/' }}/g' "aaaaaaaa1.html" > "aaaaaaaa2.html"
sed 's/aadescription/{{ link.description | replace: '/', '\\/' }}/g' "aaaaaaaa2.html" > "aaaaaaaa3.html"
sed 's/aapermalink/{{ category.name | replace: '/', '\\/' }}-{{sub_category.name | replace: '/', '\\/' }}-{{ link.title | replace: '/', '\\/' }}/g' "aaaaaaaa3.html" > "aaaaaaaa4.html"


sed 's/aacategoryname/{{ category.name | replace: '/', '\\/' }}/g' "aaaaaaaa4.html" > "aaaaaaaa5.html"
sed 's/aacategoryicon/{{ category.icon | replace: '/', '\\/' }}/g' "aaaaaaaa5.html" > "aaaaaaaa6.html"
sed 's/aacategorycolor/{{ category.color | replace: '/', '\\/' }}/g' "aaaaaaaa6.html" > "aaaaaaaa7.html"
sed 's/aasubcategory/{{ sub_category.name | replace: '/', '\\/' }}/g' "aaaaaaaa7.html" > "aaaaaaaa8.html"
sed 's/aasubcategoryicon/{{ sub_category.icon | replace: '/', '\\/' }}/g' "aaaaaaaa8.html" > "aaaaaaaa9.html"
sed 's/aasubcategorycolor/{{ sub_category.color | replace: '/', '\\/' }}/g' "aaaaaaaa9.html" > "aaaaaaaa10.html"

{%- capture time_now -%}{{ 'now' | date: "%s%N" }}{%- endcapture -%}
{%- assign random_number = time_now | modulo: 999999 -%}
{% assign current_date = 'now' | date: "%s" | minus: random_number | date: "%Y-%m-%d" %}
sed 's/aadate/{{ current_date }}/g' "aaaaaaaa10.html" > "aaaaaaaa11.html"
sed 's/aaauthor/james/g' "aaaaaaaa11.html" > "aaaaaaaa12.html"

sed 's/aalink/{{ link.url | replace: '/', '\\/'  }}/g' "aaaaaaaa12.html" > "{{ category.name | replace: '/', '\\/' }}-{{sub_category.name | replace: '/', '\\/' }}-{{ link.title | replace: '/', '\\/' }}.html"

{% endfor %}

{% endfor %}

{% endif %}
{% endfor %}    

rm aaaaaaaa*.html
