    <!-- Main Footer -->
    <footer class="main-footer sticky footer-type-1">
        <div class="footer-inner">
          <!-- Add your copyright text here -->
          <div class="footer-text" style="font-size: 1.08rem;">
            &copy; 2024 <a href="{{ site.url }}">{{ site.title }}</a>
          </div>
          <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
          <div class="go-up"style="
          position: fixed;
          bottom: 0;
          right: 0;
          padding: 20px;
          border-radius: 5px;
          font-size: 2rem;
      ">
            <a href="#" rel="go-top">
              <i class="fa-angle-up"></i>
            </a>
          </div>
        </div>
      </footer>