<nav class="navbar user-info-navbar" role="navigation">
    <ul class="user-info-menu left-links list-inline list-unstyled">

      <li class="hidden-xs">
        <a href="#" data-toggle="sidebar">
            <i class="fa-bars"></i>
        </a>
      </li>

      <li class="dropdown">
        <a href="/index.html"> 最新 </a>
      </li>

      <li class="dropdown">
        <a href="/category.html"> 类别 </a>
      </li>

      <li class="dropdown">
        <a href="/rank.html"> 排行榜 </a>
      </li>

      <!-- <li class="dropdown">
        <a href="/course.html"> 课程 </a>
      </li> -->

      <!-- <li class="dropdown">
        <a href="#"> 提交 </a>
      </li> -->

      <li class="dropdown">
        <a href="/about.html"> 提交 </a>
      </li>
    </ul>
  </nav>
