<nav class="navbar user-info-navbar fixed" role="navigation" style="position: fixed;width: 100%;z-index: 99999;
    box-shadow: rgb(163 163 163 / 80%) 0 0 3px 3px;">


    <ul class="user-info-menu left-links list-inline list-unstyled">

      <li class="dropdown" style="width: 280px;border: 1px solid #fff;">
        <div class="logo" style="margin-left: 44px;margin-top: 18px;margin-bottom: 20px;width: 64%;">
          <a href="/index.html" class="logo-expanded">
            <img src="/assets/images/logo_dark@2x.png" width="100%" alt="" />
          </a>
        </div>
      </li>

      <li class="dropdown" style="border: 1px solid #fff;">
        <a href="/index.html"> 最新 </a>
      </li>

      <li class="dropdown" style="border: 1px solid #fff;">
        <a href="/category.html"> 类别 </a>
      </li>

      <li class="dropdown" style="border: 1px solid #fff;">
        <a href="/rank.html"> 排行榜 </a>
      </li>

      <li class="dropdown" style="border: 1px solid #fff;">
        <a href="/course.html"> AI课程 </a>
      </li>

      <li class="dropdown" style="border: 1px solid #fff;">
        <a href="/subprod.html"> AI产品发布 </a>
      </li>

      <li class="dropdown" style="border: 1px solid #fff;">
        <a href="/subcourse.html"> AI课程发布 </a>
      </li>

      <li class="dropdown" style="border: 1px solid #fff;">
        <a href="/about.html"> 提交 </a>
      </li>
    </ul>
  </nav>
