<div class="sidebar-menu toggle-others fixed" style="background: #ffffff!important;">
    <div class="sidebar-menu-inner" style="background: #ffffff!important;">
      <header class="logo-env" style="border-bottom: 0;">
        <!-- logo -->
        <div class="logo">
          <a href="index.html" class="logo-expanded">
            <img src="../assets/images/logo_dark@2x.png" width="100%" alt="" />
          </a>
          <a href="index.html" class="logo-collapsed">
            <img src="../assets/images/logo-collapsed@2x.png" width="40" alt="" />
          </a>
        </div>
        <div class="mobile-menu-toggle visible-xs">
          <a href="#" data-toggle="mobile-menu">
            <i class="fa-bars"></i>
          </a>
        </div>
      </header>
      <ul id="main-menu" class="main-menu">
        {% for category in site.data.webstack %}
        <li>
          {% if category.sub %}
          <a style="border-bottom: 0;">
            <i
              class="{{ category.icon }}"
              style="width: 28px; color: {{ category.color }}"
            ></i>
            <span class="title" style="font-weight: bold; color: black;">{{ category.name }}</span>
          </a>
          <ul>
            {% for sub_category in category.sub %}
            <li>
              <a href="#{{ sub_category.name }}" class="smooth" style="border-bottom: 0;">
                <span class="title" style="color: black;">{{ sub_category.name }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
          {% else if %}
          <a href="#{{ category.name }}" class="smooth" style="border-bottom: 0;">
            <i
              class="{{ category.icon }}"
              style="width: 28px; color: {{ category.color }}"
            ></i>
            <span class="title" style="font-weight: bold; color: black;">{{ category.name }}</span>
          </a>
          {% endif %}
        </li>
        {% endfor %}
  
        <br />
        <li style="display: none">
          <a>
            <span id="busuanzi_container_site_uv"
              >访客数<span id="busuanzi_value_site_uv"></span
              ><span id="rnd1"></span>人</span
            >
          </a>
        </li>
        <li style="display: none">
          <a>
            <span id="busuanzi_container_site_pv"
              >访问量<span id="busuanzi_value_site_pv"></span
              ><span id="rnd2"></span>次</span
            >
          </a>
        </li>
      </ul>
    </div>
  </div>