---
permalink: /category/3D建模-图像转3D模型
layout: home
---

<h2 class="text-gray" style="font-size: 1.2rem;">
  <i class="linecons-tag" style="margin-right: 7px; font-size: x-large" id="3D建模"></i>
  3D建模 / 图像转3D模型
</h2>
<div class="row">

{% assign products = site.data.webstack | where: "name", "3D建模" | map: 'sub' | compact | flatten | where: "name", "图像转3D模型" | map: 'href' | compact %}
{% assign hrefs = products | join: ", " %}

{% assign sort_products =  site.product | where_exp: "item", "item.prodtags contains hrefs"%}

{% for product in sort_products  %}

  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">

    <div class="xe-widget xe-conversations box2 label-info" onclick="openhref('{{ product.permalink }}')"  
      data-placement="bottom" title="{{ product.description }}"   style="height: initial; padding: 0;">

  {% assign new_date = 'now' | date: "%s" | minus: 172800 | date: "%Y-%m-%d" %}
  {% if group.name >= new_date %}
      <div style="text-align: right; margin-top: -4px;">
        <sup style="font-size: 1rem; color: red;font-family: fantasy;">new</sup>
      </div>
  {% endif %}    

      <div class="xe-comment-entry">
        <a class="xe-user-img">
          <img src="{{ product.prodimage }}" class="img-circle" style="width: 100%;
          float: none;
          border-radius: initial;
          margin: initial;
      " />
        </a>
        <div class="xe-comment" style="height: 8rem; padding-left: 10px; padding-right: 10px;">
          <a href="#" class="xe-user-name overflowClip_1" style="font-size: 1.28rem; padding-top: 20px;">
            <strong>{{ product.prodtitle }}</strong>
          </a>
          <p class="overflowClip_2"     style="margin-top: 10px;
          font-size: 1rem;">{{ product.proddescription }}</p>
        </div>
      </div>
    </div>
  </div>


  {% endfor %}


</div>
<br />

