---
permalink: /category/声音-AI语音转文字
layout: home
---




{% for category in site.data.webstack %}

{% if category.sub %}

{% for sub_category in category.sub %}

{% if category.name == "声音" %}
{% if sub_category.name == "AI语音转文字" %}


<h2 class="text-gray" style="font-size: 1.2rem;">
  <i class="linecons-tag" style="margin-right: 7px; font-size: x-large" id="{{ sub_category.name }}"></i>
  {{ category.name }} / {{ sub_category.name }}
</h2>
<div class="row">
  {% for link in sub_category.links %}
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
    <div class="xe-widget xe-conversations box2 label-info" onclick="openwin('{{ sub_category.name }}', '{{ link.title }}')"  
      data-placement="bottom" title="{{ link.description }}"   style="height: 128px;">
      <div class="xe-comment-entry">
        <a class="xe-user-img">
          <img src="{{ link.logo }}" class="img-circle" width="40" />
        </a>
        <div class="xe-comment">
          <a href="#" class="xe-user-name overflowClip_1" style="
          font-size: 1.28rem;
          padding-top: 6px;
      ">
            <strong>{{ link.title }}</strong>
          </a>
          <p class="overflowClip_2"     style="margin-top: 20px;
          font-size: 1rem;">{{ link.description }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<br />

{% endif %}
{% endif %}

{% endfor %}
{% endif %}
{% endfor %}